* {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  width: 100%;
  height: 100%;
  font-family: 'microsoft yahei';
  overflow-x: hidden;
}
/*遮罩层样式*/
.mask {
  position: fixed;
  z-index: 888;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #fff;
}
.mask img {
  display: none;
  position: fixed;
  z-index: 888;
  left: 35%;
  top: 45%;
  width: 2.4rem;
  height: 0.8rem;
}
.mask .font {
  display: none;
  position: fixed;
  z-index: 888;
  left: 30%;
  top: 50%;
  margin-top: 0.2rem;
}
.mask .font h3 {
  text-align: center;
  font-size: 0.36rem;
  line-height: 0.36rem;
  font-family: 'Microsoft YaHei';
  color: #e6e5e5;
}
.succeed {
  display: none;
  position: fixed;
  z-index: 888;
  top: 5rem;
  left: 37%;
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5%;
  text-align: center;
  line-height: 0.8rem;
}
.succeed img {
  width: 80%;
}
.succeed .star {
  width: 30%;
}
/*每日签到*/
#signBox {
  position: relative;
  width: 100%;
  background: url('../images/bgc3b.png') no-repeat;
  background-size: 100%;
  /*每日签到背景*/
  /*每日经验领取*/
}
#signBox .daySign {
  width: 100%;
  height: 2.35rem;
  padding-top: 0.3rem;
  /*每日签到按钮*/
  /*点击每日签到后的样式*/
}
#signBox .daySign .signButton {
  width: 2.26rem;
  height: 2.26rem;
  margin: 0 auto;
  padding: 0.12rem;
  color: #fff;
  background-color: #faaf9a;
  border-radius: 50%;
  border: 0.17rem solid #fcd1af;
}
#signBox .daySign .signButton .fontButton {
  width: 1.66rem;
  height: 1.66rem;
  border-radius: 50%;
  padding: 0.2rem;
  background-color: #eb6657;
  text-align: center;
}
#signBox .daySign .signButton .fontButton p {
  text-align: center;
  font-size: 0.36rem;
  line-height: 0.58rem;
  word-wrap: break-word;
}
#signBox .daySign .signButton:before {
  content: '';
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  top: 1.2rem;
  left: 1.8rem;
  background: url(../images/logo.png) no-repeat;
  background-position: -0.3rem -0.8rem;
  background-size: 3.5rem;
}
#signBox .daySign .signButton:after {
  content: '';
  position: absolute;
  width: 0.3rem;
  height: 0.3rem;
  top: 1.2rem;
  right: 1.8rem;
  background: url(../images/logo.png) no-repeat;
  background-position: 0 -0.8rem;
  background-size: 3.5rem;
}
#signBox .daySign .completeSign {
  width: 2.26rem;
  height: 2.26rem;
  margin: 0 auto;
  padding: 0.12rem;
  color: #fff;
  background-color: #e7e7e7;
  border-radius: 50%;
  border: 0.17rem solid #f5eee8;
}
#signBox .daySign .completeSign .fontButton {
  width: 1.66rem;
  height: 1.66rem;
  border-radius: 50%;
  padding: 0.2rem;
  background-color: #e7e7e7;
  text-align: center;
}
#signBox .daySign .completeSign .fontButton p {
  text-align: center;
  font-size: 0.36rem;
  line-height: 0.55rem;
  word-wrap: break-word;
  color: #6e6e6e;
}
#signBox .suffer {
  width: 100%;
  height: 4rem;
  /*前连接线*/
  /*抽奖按钮*/
}
#signBox .suffer .sufferUl {
  position: relative;
  width: 100%;
  height: 2.6rem;
  margin-top: 0.5rem;
  /*中间连接线(完成)*/
  /*后连接线*/
}
#signBox .suffer .sufferUl li {
  position: relative;
  float: left;
  width: 1.1rem;
  height: 1.1rem;
  margin-top: 0.6rem;
  margin-left: 0.33rem;
  font-size: 0.26rem;
  line-height: 0.7rem;
  text-align: center;
  /*圆边缘线*/
  /*每日经验领取完成后的样式*/
  /*当天经验未领取前的样式*/
}
#signBox .suffer .sufferUl li div {
  position: relative;
  float: left;
  width: 1.2rem;
  height: 1.2rem;
  background-color: #ffa901;
  font-size: 0.26rem;
  line-height: 0.7rem;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
#signBox .suffer .sufferUl li div:before {
  content: '';
  width: 1.06rem;
  height: 1.06rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  border: 1px solid #fff;
  border-radius: 50%;
}
#signBox .suffer .sufferUl li .completeSuffer {
  color: #707070;
  background-color: #dadada;
}
#signBox .suffer .sufferUl li .todaySuffer {
  color: #fff;
  background-color: #f06e61;
}
#signBox .suffer .sufferUl li span {
  display: block;
  font-size: 0.28rem;
  width: 1.1rem;
  height: 0.35rem;
  margin-top: 0;
}
#signBox .suffer .sufferUl li p {
  font-size: 0.26rem;
  line-height: 0.7rem;
  text-align: center;
  width: 1.2rem;
  color: #717171;
}
#signBox .suffer .sufferUl li .todayCanclick {
  color: #ea705b;
}
#signBox .suffer .sufferUl .line:after {
  content: '';
  width: 0.5rem;
  height: 1px;
  top: 0.6rem;
  right: -0.5rem;
  position: absolute;
  background-color: #f0ae4e;
}
#signBox .suffer .sufferUl li:after {
  content: '';
  width: 0.5rem;
  height: 1px;
  top: 0.6rem;
  right: -0.6rem;
  position: absolute;
  background-color: #f0ae4e;
}
#signBox .suffer .sufferUl .last:after {
  content: '';
  width: 0.2rem;
  height: 1px;
  top: 0.6rem;
  right: -0.3rem;
  position: absolute;
  background-color: #f0ae4e;
}
#signBox .suffer .sufferUl:before {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 1px;
  top: 1.18rem;
  left: 0;
  background-color: #d8d8d8;
}
#signBox .suffer .lottoButton {
  margin: 0 auto;
  width: 3.6rem;
  height: 0.75rem;
  text-align: center;
  font-size: 0.38rem;
  line-height: 0.75rem;
  color: #999999;
  letter-spacing: 4px;
  border-radius: 25rem;
  background: linear-gradient(#e0e0e0, #dbdbdb, #d1d1d1);
  background: -webkit-linear-gradient(#e0e0e0, #dbdbdb, #d1d1d1);
  border-bottom: 2px solid #c2c2c2;
  cursor: pointer;
  font-weight: 700;
}
#signBox .suffer .canClick {
  background: linear-gradient(#ec665a, #e75f51, #d23926);
  background: -webkit-linear-gradient(#ec665a, #e75f51, #d23926);
  border-bottom: 2px solid #a33a1e;
  color: #fff;
}
#signBox .suffer .lottoButton:active {
  border-bottom: none;
}
#signBox .suffer .canClick:active {
  border-bottom: none;
}
/*任务列表*/
#missionList {
  width: 100%;
  height: auto;
  position: relative;
  background: #fff;
  /*今日金币奖励*/
}
#missionList .bigTitles {
  width: 100%;
  height: 1rem;
  text-align: center;
  font-size: 0.4rem;
  font-weight: 700;
  line-height: 1rem;
  color: #fea803;
}
#missionList .bigTitles .bigTitle {
  color: #f6bb5d;
}
#missionList .missionShow {
  width: 100%;
  box-shadow: 0px 0px 5px #ccc;
  /*标题*/
  /*图标*/
  /*任务列表*/
  /*竖线样式*/
}
#missionList .missionShow .ulTitle {
  width: 100%;
  height: 0.9rem;
  position: relative;
  padding-left: 0.8rem;
  font-size: 0.38rem;
  font-weight: 400;
  line-height: 0.9rem;
  color: #f0ae4e;
  border-top: 1px solid #f5f4f9;
  border-bottom: 1px solid #f5f4f9;
}
#missionList .missionShow .ulTitle:before {
  content: '';
  position: absolute;
  width: 0.52rem;
  height: 0.52rem;
  top: 0.21rem;
  left: 0.23rem;
  background: url('../images/logo.png') no-repeat;
  background-position: -1.9rem 0.04rem;
  background-size: 3rem;
}
#missionList .missionShow .ulList {
  width: 100vw;
  height: 100%;
  position: relative;
  /*任务详情*/
  /*点击之后显示*/
  /*圆圈样式*/
}
#missionList .missionShow .ulList .liTitle {
  /*任务标题*/
  position: relative;
  width: 100%;
  padding-left: 0.5rem;
  min-height: 1rem;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  /*任务标题内容*/
}
#missionList .missionShow .ulList .liTitle .itbox {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3rem;
  padding-left: 0.2rem;
  /*任务的金币或者经验值*/
  /*金币图标*/
  /*箭头图标*/
  /*点击任务标题打开任务详情之后的箭头的样式*/
  /*任务倒计时*/
}
#missionList .missionShow .ulList .liTitle .itbox p {
  width: 50vw;
  font-size: 0.34rem;
  line-height: 0.4rem;
  padding-left: 0.2rem;
  padding-top: 0.3rem;
  color: #545454;
  float: left;
  /*任务的完成情况备注*/
}
#missionList .missionShow .ulList .liTitle .itbox p em {
  display: inline-block;
  margin-left: 0.05rem;
  color: #f0ae4e;
  font-size: 0.26rem;
}
#missionList .missionShow .ulList .liTitle .itbox .context {
  position: relative;
  width: 40vw;
  text-align: end;
  font-size: 0.26rem;
  float: right;
  padding-top: 0.4rem;
  padding-right: 6vw;
  color: #f0ae4e;
}
#missionList .missionShow .ulList .liTitle .itbox .goldIcon {
  position: relative;
  width: 30vw;
  text-align: end;
  font-size: 0.26rem;
  float: right;
  padding-top: 0.4rem;
  padding-right: 1rem;
  color: #f0ae4e;
}
#missionList .missionShow .ulList .liTitle .itbox .goldIcon::after {
  content: '';
  position: absolute;
  width: 0.4rem;
  height: 0.45rem;
  top: 0.33rem;
  background: url('../images/logo.png') no-repeat;
  background-size: 3rem 3.5rem;
  background-position: -0.4rem -0.47rem;
}
#missionList .missionShow .ulList .liTitle .itbox u {
  position: absolute;
  top: 0.43rem;
  right: 0.3rem;
  width: 0.25rem;
  height: 0.2rem;
  background: url('../images/logo.png') no-repeat;
  background-size: 1.55rem 1.55rem;
  background-position: -0.02rem -0.52rem;
}
#missionList .missionShow .ulList .liTitle .itbox .open {
  position: absolute;
  top: 0.43rem;
  right: 0.3rem;
  width: 0.25rem;
  height: 0.2rem;
  background: url('../images/logo.png') no-repeat;
  background-size: 1.55rem 1.55rem;
  background-position: -0.27rem -0.52rem;
}
#missionList .missionShow .ulList .liTitle .itbox .missionTime {
  width: 100vw;
  height: 0.3rem;
  float: left;
  padding-left: 0.2rem;
  margin-top: 0.18rem;
  font-size: 0.26rem;
  color: red;
}
#missionList .missionShow .ulList .missionContent {
  border-top: 1px solid #e5e3ee;
  border-bottom: 1px solid #e5e3ee;
  float: left;
  width: 100%;
  color: #000;
  background-color: #f5f4f9;
  display: none;
  /*任务详情内容*/
  /*分界线*/
}
#missionList .missionShow .ulList .missionContent .upContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  padding: 0.2rem 0;
  /*跳转任务的按钮*/
}
#missionList .missionShow .ulList .missionContent .upContent .theOne {
  float: left;
  width: 80%;
  padding-left: 0.8rem;
  font-size: 0.26rem;
  line-height: 0.4rem;
  position: relative;
}
#missionList .missionShow .ulList .missionContent .upContent p {
  margin-top: 0.2rem;
  font-size: 0.3rem;
}
#missionList .missionShow .ulList .missionContent .upContent p:nth-of-type(1) {
  position: relative;
  margin-top: 0;
}
#missionList .missionShow .ulList .missionContent .upContent p:nth-of-type(2) {
  padding-top: 0.1rem;
  margin-top: 0.18rem;
  border-top: 1px solid #e3e3e3;
}
#missionList .missionShow .ulList .missionContent .upContent .doThis {
  margin: auto;
  text-align: center;
  width: 1.2rem;
  height: 0.5rem;
  color: #fff;
  background-color: #ffa901;
  font-size: 0.26rem;
  line-height: 0.5rem;
  border-radius: 5px;
}
#missionList .missionShow .ulList .missionContent .line {
  width: 80%;
  height: 1px;
  margin-left: 0.9rem;
  margin-bottom: 0.2rem;
  background-color: #e6e5ea;
}
#missionList .missionShow .ulList .missionContent .downContent {
  margin-bottom: 0.2rem;
  /*金币图标*/
}
#missionList .missionShow .ulList .missionContent .downContent p {
  float: left;
  width: 75%;
  padding-left: 0.9rem;
  font-size: 0.23rem;
  line-height: 0.36rem;
}
#missionList .missionShow .ulList .missionContent .downContent span {
  position: relative;
  margin-right: 0.9rem;
  font-size: 0.26rem;
  line-height: 0.3rem;
  float: right;
  color: #f0ae4e;
}
#missionList .missionShow .ulList .missionContent .downContent .goldIcon::after {
  content: '';
  position: absolute;
  width: 0.4rem;
  height: 0.45rem;
  top: 0.25rem;
  background: url('../images/logo.png') no-repeat;
  background-size: 3rem 3.5rem;
  background-position: -0.4rem -0.47rem;
}
#missionList .missionShow .ulList .showContent {
  display: inline;
}
#missionList .missionShow .ulList .itbox > p:before {
  content: '';
  position: absolute;
  width: 0.22rem;
  height: 0.22rem;
  border-radius: 50%;
  border: 1px solid #e3e3e3;
  top: 50%;
  left: 0.37rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: #fff;
  z-index: 666;
}
#missionList .missionShow .ulList:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 0.5rem;
  background-color: #e3e3e3;
}
#missionList #completeMission .ulList .missionContent .upContent .doThis {
  color: #9a999f;
  background-color: #e5e3ee;
}
.nullBox {
  width: 100vw;
  height: 1rem;
}
.warn {
  display: none;
  width: 4rem;
  background-color: rgba(50, 50, 50, 0.7);
  border-radius: 0.2rem;
  position: fixed;
  z-index: 666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  line-height: 0.6rem;
  padding: 0.2rem;
}
.warn p {
  font-size: 0.3rem;
  color: #fff;
}
#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
#scroller {
  margin: 0;
  padding: 0;
}
.bannars {
  width: 100%;
}
.bannars img {
  width: 100%;
}
