/* 2017-12-15合并 */
html {
  height: 100%;
}
body {
  background-color: #f7f6fb;
}
.B-mask {
  position: fixed;
  z-index: 888;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.mask {
  display: none;
  position: fixed;
  z-index: 888;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* 悬赏任务详情页面 */
.tab-box {
  position: fixed;
  z-index: 222;
  top: 0;
  width: 100%;
  height: 1.03rem;
  background-color: #fff;
  margin-bottom: .18rem;
  border-bottom: 1px solid #eae9ef;
}
.tab-box ul {
  width: 100%;
  height: 1.03rem;
}
.tab-box ul li {
  width: 50%;
  height: 1.03rem;
  float: left;
  text-align: center;
  line-height: .5rem;
}
.tab-box ul li a {
  display: inline-block;
  width: 1.62rem;
  height: .7rem;
  font-size: .36rem;
}
.tab-box ul li .acshow {
  color: #f7a901;
  border-bottom: 2px solid #f7a901;
}
.tab-box ul .firstLi {
  position: relative;
}
.tab-box ul .firstLi::before {
  content: '';
  position: absolute;
  width: .02rem;
  height: .54rem;
  background-color: #c9c9c9;
  right: 0;
  top: .24rem;
}
#rewardIndex .nullbox {
  width: 100%;
  height: 1.2rem;
  background-color: #f7f6fb;
}
#rewardIndex .bodybox1 header {
  width: 100%;
  background-color: #fff;
}
#rewardIndex .bodybox1 header .bannar-pic {
  width: 100%;
}
#rewardIndex .bodybox1 header .bannar-pic img {
  width: 100%;
  height: 1.3rem;
}
#rewardIndex .bodybox1 header .tastContent {
  width: 6.6rem;
  height: 1.57rem;
  padding-top: .38rem;
  margin: 0 auto;
  border-bottom: 1px solid #ebebeb;
}
#rewardIndex .bodybox1 header .tastContent .tastTitle {
  font-size: .32rem;
  line-height: .58rem;
}
#rewardIndex .bodybox1 header .tastContent .weTips {
  color: #8b8b8b;
  font-size: .28rem;
  line-height: .5rem;
}
#rewardIndex .bodybox1 header .tastData {
  height: 1.7rem;
  padding: .36rem 0 .46rem 0;
  display: -webkit-flex;
  border-bottom: 1px solid #eae9ef;
}
#rewardIndex .bodybox1 header .tastData .flexBox {
  width: 33.33%;
  height: 1rem;
}
#rewardIndex .bodybox1 header .tastData .flexBox h3 {
  font-size: .26rem;
  text-align: center;
}
#rewardIndex .bodybox1 header .tastData .flexBox h3 i {
  font-size: .24rem;
  color: #33be2d;
}
#rewardIndex .bodybox1 header .tastData .flexBox h2 {
  font-size: .4rem;
  text-align: center;
  color: #33be2d;
  margin-top: .3rem;
}
#rewardIndex .bodybox1 header .tastData .flexBox h2 i {
  font-size: .26rem;
}
#rewardIndex .bodybox1 header .tastData .flexBox .yellow {
  color: #e4c208;
}
#rewardIndex .bodybox1 .tast-pic {
  width: 100%;
  height: 7.5rem;
  margin-top: .18rem;
  padding: .4rem .3rem;
  border-top: 1px solid #eae9ef;
  border-bottom: 1px solid #eae9ef;
  background-color: #fff;
}
#rewardIndex .bodybox1 .tast-pic h3 {
  color: #fca903;
  font-size: .36rem;
  margin-bottom: 1.8rem;
  padding-left: .5rem;
  position: relative;
}
#rewardIndex .bodybox1 .tast-pic h3:before {
  content: '';
  position: absolute;
  width: .45rem;
  height: .4rem;
  left: 0;
  background: url('../images/reward-icon.png') no-repeat;
  background-position: -1.72rem 0;
  background-size: 2.6rem;
}
#rewardIndex .bodybox1 .tast-pic ul {
  min-width: 375px;
  /* 流程指示箭头的两种形态 */
}
#rewardIndex .bodybox1 .tast-pic ul li {
  float: left;
  font-size: .26rem;
  margin-right: .9rem;
  position: relative;
}
#rewardIndex .bodybox1 .tast-pic ul li:nth-child(4) {
  margin: 0;
}
#rewardIndex .bodybox1 .tast-pic ul .wait::after {
  content: '';
  position: absolute;
  width: .6rem;
  height: .4rem;
  left: 1.2rem;
  background: url('../images/reward-icon.png') no-repeat;
  background-position: 0 -1.9rem;
  background-size: 4.6rem;
}
#rewardIndex .bodybox1 .tast-pic ul .cross::after {
  content: '';
  position: absolute;
  width: .6rem;
  height: .4rem;
  left: 1.2rem;
  background: url('../images/reward-icon.png') no-repeat;
  background-position: 0 0;
  background-size: 4.6rem;
}
#rewardIndex .bodybox1 .tast-pic ul .golden {
  color: #fca903;
}
#rewardIndex .bodybox1 .tast-pic ul .second::before {
  content: '否';
  text-align: center;
  line-height: 1.4rem;
  position: absolute;
  width: 2rem;
  height: .85rem;
  left: .46rem;
  top: .32rem;
  background: url('../images/reward-icon3.png') no-repeat;
  background-position: 0 0;
  background-size: 2rem;
}
#rewardIndex .bodybox1 .tast-pic ul .fouth::before {
  content: '是';
  text-align: center;
  position: absolute;
  width: 2rem;
  height: .85rem;
  left: -1.44rem;
  top: -0.85rem;
  background: url(../images/reward-icon4.png) no-repeat;
  background-position: 0 .44rem;
  background-size: 2rem;
}
#rewardIndex .bodybox1 .tast-pic ul .secondTrue::before {
  content: '否';
  text-align: center;
  line-height: 1.4rem;
  position: absolute;
  width: 2rem;
  height: .85rem;
  left: .46rem;
  top: .32rem;
  background: url('../images/reward-icon5.png') no-repeat;
  background-position: 0 0;
  background-size: 2rem;
}
#rewardIndex .bodybox1 .tast-pic ul .fouthTrue::before {
  content: '是';
  text-align: center;
  position: absolute;
  width: 2rem;
  height: .85rem;
  left: -1.44rem;
  top: -0.85rem;
  background: url(../images/reward-icon6.png) no-repeat;
  background-position: 0 .44rem;
  background-size: 2rem;
}
#rewardIndex .bodybox2 {
  width: 100%;
}
#rewardIndex .bodybox2 .tast-details2 {
  width: 100%;
  height: 12.5rem;
  padding: .4rem .3rem;
  border-top: 1px solid #eae9ef;
  background-color: #fff;
}
#rewardIndex .bodybox2 .tast-details2 h3 {
  color: #fca903;
  font-size: .36rem;
  padding-left: .5rem;
  position: relative;
}
#rewardIndex .bodybox2 .tast-details2 h3:before {
  content: '';
  position: absolute;
  width: .45rem;
  height: .4rem;
  left: 0;
  background: url('../images/reward-icon.png') no-repeat;
  background-position: -1.72rem 0;
  background-size: 2.6rem;
}
#rewardIndex .bodybox2 .tast-details2 .details-content {
  margin-top: .4rem;
  font-size: .3rem;
  line-height: .54rem;
}
#rewardIndex .bodybox2 .tast-details2 .details-content img {
  width: 100%;
}
#rewardIndex .bodybox2 .tast-details2 .details-content p strong img {
  width: 100%;
}
#rewardIndex .bodybox2 .nullbox {
  width: 100%;
  height: 1.2rem;
  background: #fff;
}
._isStart {
  z-index: 222;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.2rem;
  background: #fff;
}
._isStart #_ensure {
  z-index: 222;
  position: fixed;
  bottom: .2rem;
  left: .88rem;
  display: block;
  width: 5.8rem;
  height: 0.85rem;
  font-size: .36rem;
  outline: none;
  border: none;
  border-radius: .1rem;
  color: #fff;
  background-color: #33be2d;
  font-family: "Microsoft YaHei";
}
.tast-details {
  width: 100%;
  height: 3rem;
  margin-top: .18rem;
  padding: .4rem .3rem;
  border-top: 1px solid #eae9ef;
  background-color: #fff;
}
/* --------------------------------分割线----------------------------------- */
/* 图片上传页面 */
#rewardPicIndex {
  display: none;
}
#rewardPicIndex .pic-alert {
  display: none;
  position: fixed;
  z-index: 889;
  width: 5.98rem;
  height: 4.88rem;
  top: 3.8rem;
  left: .8rem;
  background-color: #fff;
  text-align: center;
  border-radius: .3rem;
}
#rewardPicIndex .pic-alert img {
  display: inline-block;
  margin: .64rem 0 .6rem;
  width: .96rem;
}
#rewardPicIndex .pic-alert p {
  font-size: .36rem;
  color: #000;
  margin-bottom: .22rem;
}
#rewardPicIndex .pic-alert .alert-bottom {
  width: 5.98rem;
  height: 1.02rem;
  margin-top: .7rem;
}
#rewardPicIndex .pic-alert .alert-bottom #inspect-btn {
  float: left;
  width: 100%;
  height: 1.02rem;
  background-color: #e6e6e6;
  border: none;
  outline: none;
  border-radius: 0 0 .3rem .3rem;
  font-size: .36rem;
  color: #48bb44;
}
#rewardPicIndex .warn-alert {
  display: none;
  position: fixed;
  z-index: 889;
  width: 5.98rem;
  top: 3.8rem;
  left: .8rem;
  background-color: #fff;
  text-align: center;
  border-radius: .3rem;
}
#rewardPicIndex .warn-alert .alert-body {
  height: 1.2rem;
  padding-top: .8rem;
}
#rewardPicIndex .warn-alert .alert-body p {
  font-size: .36rem;
  color: #000;
  margin-bottom: .22rem;
}
#rewardPicIndex .warn-alert .alert-bottom {
  width: 5.98rem;
  height: 1.02rem;
  margin-top: .7rem;
}
#rewardPicIndex .warn-alert .alert-bottom #accept-btn {
  float: left;
  width: 100%;
  height: 1.02rem;
  background-color: #e6e6e6;
  border: none;
  outline: none;
  border-radius: 0 0 .3rem .3rem;
  font-size: .36rem;
  color: #48bb44;
  position: relative;
}
#rewardPicIndex .commit-alert {
  display: none;
  position: fixed;
  z-index: 889;
  width: 5.98rem;
  height: 4.88rem;
  top: 3.8rem;
  left: .8rem;
  background-color: #fff;
  text-align: center;
  border-radius: .3rem;
}
#rewardPicIndex .commit-alert img {
  display: inline-block;
  margin: .64rem 0 .6rem;
  width: .96rem;
}
#rewardPicIndex .commit-alert p {
  font-size: .36rem;
  color: #000;
  margin-bottom: .22rem;
}
#rewardPicIndex .commit-alert .alert-bottom {
  width: 5.98rem;
  height: 1.02rem;
  margin-top: .7rem;
}
#rewardPicIndex .commit-alert .alert-bottom #commit-accept-btn {
  float: left;
  width: 100%;
  height: 1.02rem;
  background-color: #e6e6e6;
  border: none;
  outline: none;
  border-radius: 0 0 .3rem .3rem;
  font-size: .36rem;
  color: #48bb44;
}
#rewardPicIndex .pic-content {
  width: 100%;
}
#rewardPicIndex .pic-content .uppic-title {
  font-size: .36rem;
  padding-top: .5rem;
  padding-left: .3rem;
  background-color: #fff;
}
#rewardPicIndex .pic-content .picrow {
  background-color: #fff;
  padding: 0 0.3rem;
  padding-top: .3rem;
  width: 100%;
  height: 3.5rem;
  margin-bottom: .3rem;
}
#rewardPicIndex .pic-content .picrow h2 {
  font-size: .26rem;
  color: #545454;
  margin-bottom: .2rem;
}
#rewardPicIndex .pic-content .picrow .uppic-toke {
  font-size: .26rem;
  color: #545454;
  margin-bottom: .2rem;
}
#rewardPicIndex .pic-content .picrow .uppic-index {
  float: left;
  width: 1.5rem;
  line-height: 2rem;
  font-size: .26rem;
  color: #545454;
}
#rewardPicIndex .pic-content .picrow .warn-box {
  display: none;
  position: relative;
  float: right;
  width: 2.4rem;
  height: 2.09rem;
  background-color: #ebebeb;
  text-align: center;
}
#rewardPicIndex .pic-content .picrow .warn-box img {
  display: inline-block;
  height: .6rem;
  margin: .28rem 0 .16rem;
}
#rewardPicIndex .pic-content .picrow .warn-box p {
  font-size: .3rem;
  color: #ff2702;
  margin-bottom: .1rem;
}
#rewardPicIndex .pic-content .picrow .warn-box input {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.4rem;
  height: 2rem;
  opacity: 0;
}
#rewardPicIndex .pic-content .picrow .issure-box {
  display: none;
  position: relative;
  float: right;
  width: 2.4rem;
  height: 2.09rem;
  background-color: #ebebeb;
  text-align: center;
}
#rewardPicIndex .pic-content .picrow .issure-box img {
  display: inline-block;
  height: .6rem;
  margin: .5rem 0 .16rem;
}
#rewardPicIndex .pic-content .picrow .issure-box p {
  font-size: .3rem;
  color: #27c12f;
  margin-bottom: .1rem;
}
#rewardPicIndex .pic-content .picrow .preview {
  position: relative;
  float: right;
  width: 2.4rem;
  height: 2.07rem;
  border: 1px dashed #d8d8da;
}
#rewardPicIndex .pic-content .picrow .preview input {
  width: 2.4rem;
  height: 2rem;
  opacity: 0;
  z-index: 880;
}
#rewardPicIndex .pic-content .picrow .upbox {
  position: relative;
  float: right;
  width: 2.4rem;
  height: 2.07rem;
  border: 1px dashed #d8d8da;
}
#rewardPicIndex .pic-content .picrow .upbox input {
  width: 2.4rem;
  height: 2rem;
  opacity: 0;
}
#rewardPicIndex .pic-content .picrow .upbox:before {
  content: " ";
  width: .59rem;
  height: .53rem;
  position: absolute;
  top: 40%;
  left: 35%;
  background: url('../images/reward-icon10.png') no-repeat;
  background-size: .59rem .53rem;
}
#rewardPicIndex .pic-content .picrow .show-pic {
  float: left;
  width: 2.81rem;
  height: 2.06rem;
  text-align: center;
  background-color: #d8d8da;
  position: relative;
}
#rewardPicIndex .pic-content .picrow .show-pic .exampleImg {
  height: 2.06rem;
  max-width: 2.81rem;
}
#rewardPicIndex .pic-content .picrow .show-pic em {
  width: .76rem;
  height: .67rem;
  right: 0;
  top: 0;
  position: absolute;
  background: url('../images/reward-icon.png') no-repeat;
  background-position: 0 -0.92rem;
  background-size: 4.6rem;
}
#rewardPicIndex .pic-content .tip-box {
  width: 100%;
  text-align: center;
}
#rewardPicIndex .pic-content .tip-box img {
  width: .75rem;
}
#rewardPicIndex .pic-content .tip-box .wetips {
  display: inline-block;
  font-size: .26rem;
  line-height: .58rem;
  vertical-align: middle;
  color: #fd0100;
}
#rewardPicIndex .pic-content .btn-box {
  width: 100%;
  height: 2rem;
  text-align: center;
}
#rewardPicIndex .pic-content .btn-box #commit {
  display: inline-block;
  margin-right: .3rem;
  width: 5.8rem;
  height: .84rem;
  outline: none;
  border: none;
  border-radius: .1rem;
  background-color: #2ab526;
  font-size: .36rem;
  color: #fff;
}
